.alertMessage{
    position: absolute;
    top : -100px;
    border-bottom : 1px solid;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    left: 0;
    right: 0;   
    color : white;   
    animation: slideBottom linear 0.5s forwards , slideTop 0.5s linear 3.5s forwards;
    &--error{
        background-color: #ec6454;
        border-bottom: 8px solid lighten(#ec6454,30%);
    }
    &--info{
        background-color: #3282f7;
        border-bottom: 8px solid lighten(#3287f7,30%);
    }

}

@keyframes slideBottom {
    from {
     top :-100px;
    }
  
    to {
        top : 0px
    }
  }
@keyframes slideTop {
    from {
     top :0px;
    }
  
    to {
        top : -100px
    }
  }